#root {
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

#content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#mapa {
  width: 40vw;
  height: 100vh;
  background-color: white;
}

#input {
  background-color: #bbbbbb;
  width: 40vw;
  height: 100vh;

}