#root {
  max-width: 1280px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

#content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#mapa {
  display: flex;
  color: #bbbbbb;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40vw;
  height: 100vh;
  background-color: #444444;
}

#foto_mapa {
  display: block;
  width: 35vw;
  border-radius: 15px;
}

#input {
  background-color: #bbbbbb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100vh;
}